{% extends 'base.html.twig' %}

 {% block navbar %} <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CAA0F8;">
        <h1>LISTE MATIERES</h1>
        </nav> 
{% endblock %}


{% block body %}
   

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.nom }}</td>
                <td>
                    <a href="{{ path('matiere_show', {'id': matiere.id}) }}">show</a>
                    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('matiere_new') }}">Create new</a>
{% endblock %}
